body {
  margin: 0;
  color: black(64, 207, 71);
}

* {
  font-family: "Roboto", sans-serif;
  margin: 0px;
}

h1 {
  font-weight: 700;
  padding: 15px;
  font-family: "Shrikhand", cursive;
}

h2 {
  font-weight: 700;
  padding: 15px;
}

h3 {
  font-weight: 700;
  font-size: 35px;
}

.card {
  display: flex;
  border-radius: 20px;
  font-weight: 500;
}

img {
  object-fit: cover;
}

a {
  color: black;
  text-decoration: none;
}

.icon_heart {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 16px;
  cursor: pointer;
  animation-name: loader_icon;
  animation-duration: 4140ms;
}
.icon_heart--empty {
  opacity: 1;
  color: black;
  position: absolute;
}
.icon_heart--solid {
  position: absolute;
  opacity: 0;
  background: linear-gradient(#9356dc, #ff79da);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
.icon_heart:hover .icon_heart--empty {
  opacity: 0;
  transition: all 1000ms;
}
.icon_heart:hover .icon_heart--solid {
  opacity: 1;
  transition: all 1000ms;
}

/**@keyframes loader_icon {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}**/
.button--explore, .button--command {
  height: 50px;
  border: none;
  border-radius: 25px;
  background: linear-gradient(0deg, #9356dc, #ff79da);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  color: white;
  cursor: pointer;
}
.button--explore {
  width: 218px;
}
.button--command {
  width: 186px;
}
.button:hover {
  background: linear-gradient(0deg, #ae80e5, #fface8);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 68px;
}
header img {
  width: 163px;
}

.back {
  position: absolute;
  left: 15px;
}

.location {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  background-color: #eaeaea;
  width: 100%;
  height: 50px;
}
.location span {
  padding-left: 8px;
}

.explore {
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px 30px 50px 30px;
  gap: 15px;
}

.fonction {
  height: 375px;
}

.help {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}
.help .card {
  align-items: center;
  justify-content: flex-start;
  background-color: #f7f7f7;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  width: 322px;
  height: 72px;
}
.help .fa-solid {
  color: gray;
}

.number {
  background-color: #9356dc;
  padding: 5px 9px 5px 9px;
  border-radius: 15px;
  color: white;
  font-size: 14px;
}

.number_icon {
  display: flex;
  align-items: center;
  gap: 20px;
  position: relative;
  right: 15px;
  padding-right: 20px;
  animation-name: loader_icon;
  animation-duration: 4140ms;
}

/**@keyframes loader_icon {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}**/
.resto {
  background-color: #f6f6f6;
}

.resto_card--part_one, .resto_card--part_two {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  padding-bottom: 20px;
}
.resto_card .card {
  flex-direction: column;
  width: 340px;
  height: 251px;
  background-color: white;
}
.resto_card .card img {
  width: 100%;
  height: 174px;
  border-radius: 20px 20px 0px 0px;
}

.test {
  height: 174px;
}

.new {
  display: flex;
  justify-content: center;
  padding: 5px;
  position: relative;
  bottom: 170px;
  left: 250px;
  background-color: #99e2d0;
  color: #008766;
  width: 70px;
  animation-name: loader_icon;
  animation-duration: 4140ms;
}

/**@keyframes loader_icon {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}**/
.card_resto {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.card_title {
  padding-bottom: 10px;
}

.heart {
  position: inherit;
}

footer {
  background-color: black;
  color: white;
  height: 186px;
}
footer ul {
  list-style-type: none;
}
footer .footer_title {
  font-family: "Shrikhand", cursive;
  font-style: italic;
  padding: 15px;
  font-size: 27px;
}
footer a {
  color: white;
}

.footer_info {
  display: flex;
  flex-direction: column;
  padding: 0px 0px 0px 25px;
}
.footer_info div {
  padding-bottom: 10px;
}
.footer_info .fa-solid {
  padding: 0px 10px 0px 0px;
}

.img_background {
  width: 100%;
}

.menu {
  width: 349px;
}

.menu_card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f6f6f6;
  position: relative;
  margin-top: -40px;
  border-radius: 40px 40px 0px 0px;
  /**animation-duration: 8s;
  animation-name: menu_down;**/
}

/**@keyframes menu_down {
  from {
    height: 6%;
  }
  to {
    height: 100%;
  }
}**/
.menu_title {
  font-family: "Shrikhand", cursive;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 5px;
  width: 95%;
}
.menu_title button {
  border: none;
  background-color: #f6f6f6;
}

.food_choice {
  padding: 10px;
  gap: 10px;
}
.food_choice .card {
  background-color: white;
  width: 100%;
  height: 69px;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}
.food_choice .card_content {
  width: 100%;
  transition: all 1500ms;
}

.food_title {
  border: 1px solid #99e2d0;
  width: 30px;
  margin: 5px 10px 10px 0px;
}

.card_subtitle {
  font-size: 15px;
}

.price_and_valid {
  display: flex;
  align-items: center;
}

.price {
  display: flex;
  height: 50px;
  justify-content: flex-end;
  align-items: flex-end;
  padding-right: 5px;
}

.button_command {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 30px 0px;
  opacity: 0;
  animation-name: bouton;
  animation-duration: 1000ms;
  animation-delay: 8000ms;
  animation-fill-mode: forwards;
}

@keyframes bouton {
  from {
    transform: scale(0);
    width: 100%;
  }
  to {
    opacity: 1;
    transform: scale(1);
    width: 100%;
  }
}
/**VOIR POUR ROGNER LE TEXTE**/
.card--validation {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #99e2d0;
  width: 0px;
  height: 100%;
  border-radius: 0px 20px 20px 0px;
  transition: all 500ms;
  opacity: 0;
}
.card:hover .card--validation {
  width: 65px;
  transition: all 1000ms;
  opacity: 1;
}
.card:hover .card_content {
  width: 60%;
  transition: all 1000ms;
}

.card_txt {
  width: 100%;
  padding-left: 15px;
}
.card_txt p,
.card_txt h4 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.fa-circle-check {
  color: white;
}

/**REVENIR **/
.menu_name--entrees {
  animation-delay: 250ms;
}
.menu_name--plats {
  animation-delay: 2700ms;
}
.menu_name--desserts {
  animation-delay: 5250ms;
}
.menu_name--entrees, .menu_name--plats, .menu_name--desserts {
  padding-top: 25px;
  opacity: 0;
  animation-name: menu_type;
  animation-duration: 1000ms;
  animation-fill-mode: forwards;
}
@keyframes menu_type {
  from {
    transform: scale(0);
    width: 100%;
  }
  to {
    opacity: 1;
    transform: scale(1);
    width: 100%;
  }
}

.food_placement {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.entrance--one, .entrance--two, .entrance--tree, .entrance--four {
  animation-duration: 1000ms;
  animation-name: entrance;
  animation-fill-mode: forwards;
  opacity: 0;
}
.entrance--one {
  animation-delay: 625ms;
}
.entrance--two {
  animation-delay: 1250ms;
}
.entrance--tree {
  animation-delay: 1950ms;
}
.entrance--four {
  animation-delay: 2500ms;
}

@keyframes entrance {
  from {
    transform: scale(0);
    width: 100%;
  }
  to {
    opacity: 1;
    transform: scale(1);
    width: 100%;
  }
}
.dishes--one, .dishes--two, .dishes--tree, .dishes--four {
  animation-duration: 1000ms;
  animation-name: dishes;
  animation-fill-mode: forwards;
  opacity: 0;
}
.dishes--one {
  animation-delay: 3000ms;
}
.dishes--two {
  animation-delay: 3650ms;
}
.dishes--tree {
  animation-delay: 4300ms;
}
.dishes--four {
  animation-delay: 4950ms;
}

@keyframes dishes {
  from {
    transform: scale(0);
    width: 100%;
  }
  to {
    opacity: 1;
    transform: scale(1);
    width: 100%;
  }
}
.desserts--one, .desserts--two, .desserts--tree, .desserts--four {
  animation-duration: 1000ms;
  animation-name: desserts;
  animation-fill-mode: forwards;
  opacity: 0;
}
.desserts--one {
  animation-delay: 5550ms;
}
.desserts--two {
  animation-delay: 6200ms;
}
.desserts--tree {
  animation-delay: 6850ms;
}
.desserts--four {
  animation-delay: 7500ms;
}

@keyframes desserts {
  from {
    transform: scale(0);
    width: 100%;
  }
  to {
    opacity: 1;
    transform: scale(1);
    width: 100%;
  }
}
.vide {
  width: 10%;
  height: 10%;
}

.barre {
  display: flex;
}
.barre--one {
  animation-delay: 500ms;
}
.barre--two {
  animation-delay: 1500ms;
}
.barre--tree {
  animation-delay: 2500ms;
}
.barre--one, .barre--two, .barre--tree {
  background: linear-gradient(85deg, white, #ff79da);
  border-radius: 0px 20px 20px 0px;
  width: 20%;
  height: 60%;
  gap: 15px;
  animation-duration: 2500ms;
  animation-name: loader;
  opacity: 0;
}

@keyframes loader {
  80% {
    opacity: 0.85;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateX(2000px);
  }
}
.container {
  width: 100%;
  display: flex;
  align-items: center;
  padding-bottom: 30px;
}
.container .oh,
.container .my,
.container .food {
  display: flex;
  justify-content: center;
  width: 90%;
  font-family: "Shrikhand", cursive;
  font-size: 100px;
  color: white;
  animation-name: loader_txt;
  animation-duration: 1400ms;
  opacity: 0;
}
.container .oh {
  animation-delay: 800ms;
  animation-fill-mode: forwards;
}
.container .my {
  animation-delay: 1800ms;
  animation-fill-mode: forwards;
}
.container .food {
  animation-delay: 2800ms;
  animation-fill-mode: forwards;
}

@keyframes loader_txt {
  to {
    opacity: 1;
  }
}
.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(0deg, #9356dc, #ff79da);
  opacity: 1;
  animation-name: loader_color;
  animation-delay: 4000ms;
  animation-duration: 1400ms;
  animation-fill-mode: forwards;
  flex-direction: column;
  width: 100%;
  height: 100%;
  position: absolute;
}

.loader_button {
  display: flex;
}

.link_index {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 600px;
  height: 100px;
  border: none;
  border-radius: 25px;
  background: linear-gradient(0deg, #9356dc, #ff79da);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  color: white;
  cursor: pointer;
}
.link_index:hover {
  background: linear-gradient(0deg, #ae80e5, #fface8);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}

@keyframes loader_color {
  100% {
    background-color: transparent;
    opacity: 0;
    display: none;
  }
}
.excla {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-family: "Shrikhand", cursive;
  font-size: 100px;
  color: white;
  position: absolute;
  top: 40%;
  animation-name: excla;
  animation-duration: 1200ms;
  animation-fill-mode: forwards;
  animation-delay: 3200ms;
  opacity: 0;
}

@keyframes excla {
  50% {
    opacity: 0.85;
    transform: scale(3);
    transform: rotate(3turns);
  }
  75% {
    opacity: 1;
    transform: translate(210px, 180px);
  }
  80% {
    opacity: 0.75;
  }
  90% {
    opacity: 0.5;
  }
  95% {
    opacity: 0.25;
  }
  100% {
    opacity: 0;
    transform: translate(210px, 180px);
  }
}
@media (min-width: 576px) {
  .menu_card {
    margin: -40px 0px 0px 0px;
  }
}
@media (min-width: 768px) {
  /**  **/
  h2 {
    padding: 15px 15px 15px 120px;
  }
  /**HEADER**/
  header {
    height: 96px;
  }
  header img {
    width: 200px;
  }
  .img_background {
    height: 383px;
  }
  /**LOCATION**/
  /**EXPLORE**/
  /**FONCTION**/
  .fonction {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 228px;
  }
  /**HELP**/
  .help {
    flex-direction: row;
    justify-content: center;
    padding: 20px;
  }
  /**RESTO**/
  .resto_card--part_one, .resto_card--part_two {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
  }
  .resto_card .card {
    width: 490px;
  }
  .new {
    left: 390px;
  }
  /**MENU**/
  .centrage {
    display: flex;
    justify-content: center;
  }
  .menu {
    width: 634px;
  }
  .menu_title {
    justify-content: center;
    gap: 20px;
    width: 100%;
  }
  .menu_card {
    width: 1055px;
  }
  /**FOOTER**/
  footer {
    display: flex;
    flex-direction: row-reverse;
    height: 114px;
  }
  footer .footer_info {
    flex-direction: row;
    align-items: flex-end;
    gap: 15px;
    padding: 0px 50px 25px 25px;
  }
  footer .footer_title {
    display: flex;
    align-items: flex-end;
    padding-bottom: 25px;
  }
}

/*# sourceMappingURL=stylesSASS.css.map */
