body {
  margin: 0;
  color: black(64, 207, 71);
}

footer {
  background-color: black;
  color: white;
}
footer .footer_title {
  font-family: "Shrikhand", cursive;
  font-style: italic;
  padding: 25px;
}

* {
  font-family: "Roboto", sans-serif;
  margin: 0px;
}

h1 {
  font-weight: 700;
  padding: 15px;
  font-family: "Shrikhand", cursive;
}

.card {
  display: flex;
  border-radius: 20px;
  font-weight: 500;
}

img {
  object-fit: cover;
}

a {
  color: black;
  text-decoration: none;
}

header {
  display: flex;
  justify-content: center;
  padding: 8px;
}
header img {
  width: 165px;
}

.back {
  position: absolute;
  left: 15px;
  top: 15px;
}

.location {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  background-color: #eaeaea;
  width: 100%;
  height: 50px;
}
.location span {
  padding-left: 8px;
}

.explore {
  background-color: #f7f7f7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px 30px 50px 30px;
  gap: 15px;
}

.button_explore {
  width: 218px;
  height: 50px;
  border: none;
  border-radius: 25px;
  background: linear-gradient(0deg, #9356dc, #ff79da);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  color: white;
}

.fonction {
  padding-bottom: 50px;
}

.help {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 35px;
}
.help .card {
  align-items: center;
  justify-content: center;
  background-color: #f7f7f7;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  width: 322px;
  height: 72px;
}
.help .fa-solid {
  position: absolute;
  left: 65px;
  color: gray;
}

.number {
  position: absolute;
  left: 20px;
  background-color: #9356dc;
  padding: 5px 9px 5px 9px;
  border-radius: 15px;
  color: white;
  font-size: 14px;
}

.resto {
  background-color: #f7f7f7;
}

.resto_card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  padding-bottom: 20px;
}
.resto_card .card {
  flex-direction: column;
  width: 322px;
  height: 251px;
  background-color: white;
}
.resto_card .card img {
  width: 100%;
  height: 174px;
  border-radius: 20px 20px 0px 0px;
}

.card_content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.card_title {
  padding-bottom: 10px;
}

.heart {
  position: inherit;
}

footer {
  background-color: black;
  color: white;
}
footer .footer_title {
  font-family: "Shrikhand", cursive;
  font-style: italic;
  padding: 25px;
}

.footer_info {
  display: flex;
  flex-direction: column;
  padding-left: 25px;
  padding-bottom: 25px;
}
.footer_info div {
  padding-bottom: 10px;
}
.footer_info .fa-solid {
  padding: 0px 10px 0px 0px;
}

.img_background {
  width: 100%;
}

.menu_card {
  background-color: #f6f6f6;
  position: relative;
  margin-top: -40px;
  border-radius: 40px;
}

.menu_title {
  font-family: "Shrikhand", cursive;
  font-style: italic;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 5px;
  width: 95%;
}

.food_choice {
  padding: 10px;
  gap: 10px;
}
.food_choice .card {
  background-color: white;
  width: 349px;
  height: 69px;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}

.food_title {
  border: 1px solid #99e2d0;
  width: 30px;
  margin: 5px 10px 10px 0px;
}

.price {
  display: flex;
  width: 150px;
  height: 50px;
  justify-content: flex-end;
  align-items: flex-end;
}

/*# sourceMappingURL=stylesSASS.css.map */
