.explore {
  background-color: $backgroundcolor;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px 30px 50px 30px;
  gap: 15px;
}
