.fonction {
  padding-bottom: 50px;
}
.help {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 35px;
  .card {
    align-items: center;
    justify-content: flex-start;
    background-color: $greycard;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    width: 322px;
    height: 72px;
  }
  .fa-solid {
    color: gray;
  }
}
.number {
  background-color: #9356dc;
  padding: 5px 9px 5px 9px;
  border-radius: 15px;
  color: white;
  font-size: 14px;
  animation-name: loader_number;
  animation-duration: 4300ms;
}
@keyframes loader_number {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 0.5;
  }
}

.number_icon {
  display: flex;
  align-items: center;
  gap: 20px;
  position: relative;
  right: 15px;
  padding-right: 20px;
}
