footer {
  background-color: black;
  color: white;
  height: 186px;
  ul {
    list-style-type: none;
  }
  .footer_title {
    font-family: "Shrikhand", cursive;
    font-style: italic;
    padding: 15px;
    font-size: 27px;
  }
  a {
    color: white;
  }
}

.footer_info {
  display: flex;
  flex-direction: column;
  padding: 0px 0px 0px 25px;
  gap: 5px;
  div {
    padding-bottom: 10px;
  }
  .fa-solid {
    padding: 0px 10px 0px 0px;
  }
}
