.img_background {
  width: 100%;
}
.menu {
  width: 100%;
}

.menu_card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $backgroundcolor;
  position: relative;
  margin-top: -40px;
  border-radius: 40px 40px 0px 0px;
  padding: 25px;
}

.menu_title {
  font-family: "Shrikhand", cursive;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 5px;
  width: 95%;
  button {
    border: none;
    background-color: $backgroundcolor;
  }
}

.food_choice {
  display: contents;
  padding: 10px;
  gap: 10px;
  width: 100%;
  .card {
    background-color: $whitecard;
    width: 100%;
    height: 69px;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .card_content {
    width: 100%;
    transition: all 1500ms;
  }
}

.food_title {
  border: 1px solid #99e2d0;
  width: 30px;
  margin: 5px 10px 10px 0px;
}

.food_placement {
  width: 100%;
}
.card_subtitle {
  font-size: 15px;
}
.price_and_valid {
  display: flex;
  align-items: center;
}
.price {
  display: flex;
  height: 50px;
  justify-content: flex-end;
  align-items: flex-end;
  padding-right: 5px;
}

.button_command {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 30px 0px;
  opacity: 0;
}

@keyframes bouton {
  from {
    transform: scale(0);
    width: 100%;
  }

  to {
    opacity: 1;
    transform: scale(1);
    width: 100%;
  }
}

// SELECTEUR DE PLATS
.card {
  &--validation {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $newbackground;
    width: 0px;
    height: 100%;
    border-radius: 0px 20px 20px 0px;
    transition: all 500ms;
    opacity: 0;
  }

  &:hover &--validation {
    width: 65px;
    transition: all 1000ms;
    opacity: 1;
  }

  &:hover .card_content {
    width: 60%;
    transition: all 1000ms;
  }
}
// PERMET BON COMPORTEMENTS TXT
.card_txt {
  width: 100%;
  padding-left: 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  p,
  h4 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.fa-circle-check {
  color: white;
}

// ANIMATION MENU

@keyframes menu {
  from {
    transform: scale(0);
    width: 100%;
  }

  to {
    opacity: 1;
    transform: scale(1);
    width: 100%;
  }
}

//BOUCLES QUI PERMETS D'AJOUTER DES PLATS
@for $i from 0 through 15 {
  .delay_#{$i} {
    animation-duration: 1000ms;
    animation-name: menu;
    animation-fill-mode: forwards;
    opacity: 0;
    animation-delay: #{$i * 0.3}s;
  }
}
