.img_background {
  width: 100%;
}
.menu {
  width: 349px;
}

.menu_card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $backgroundcolor;
  position: relative;
  margin-top: -40px;
  border-radius: 40px 40px 0px 0px;
  /**animation-duration: 8s;
  animation-name: menu_down;**/
}

/**@keyframes menu_down {
  from {
    height: 6%;
  }
  to {
    height: 100%;
  }
}**/
.menu_title {
  font-family: "Shrikhand", cursive;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 5px;
  width: 95%;
  button {
    border: none;
    background-color: $backgroundcolor;
  }
}

.food_choice {
  padding: 10px;
  gap: 10px;
  .card {
    background-color: $whitecard;
    width: 100%;
    height: 69px;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
  }
  .card_content {
    width: 100%;
    transition: all 1500ms;
  }
}

.food_title {
  border: 1px solid #99e2d0;
  width: 30px;
  margin: 5px 10px 10px 0px;
}

.card_subtitle {
  font-size: 15px;
}
.price_and_valid {
  display: flex;
  align-items: center;
}
.price {
  display: flex;
  height: 50px;
  justify-content: flex-end;
  align-items: flex-end;
  padding-right: 5px;
}

.button_command {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 30px 0px;
  opacity: 0;
  animation-name: bouton;
  animation-duration: 1000ms;
  animation-delay: 8000ms;
  animation-fill-mode: forwards;
}

@keyframes bouton {
  from {
    transform: scale(0);
    width: 100%;
  }

  to {
    opacity: 1;
    transform: scale(1);
    width: 100%;
  }
}

/**VOIR POUR ROGNER LE TEXTE**/

.card {
  &--validation {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $newbackground;
    width: 0px;
    height: 100%;
    border-radius: 0px 20px 20px 0px;
    transition: all 500ms;
    opacity: 0;
  }

  &:hover &--validation {
    width: 65px;
    transition: all 1000ms;
    opacity: 1;
  }

  &:hover .card_content {
    width: 60%;
    transition: all 1000ms;
  }
}

.card_txt {
  width: 100%;
  padding-left: 15px;
  p,
  h4 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
.fa-circle-check {
  color: white;
}

/**REVENIR **/

.menu_name {
  &--entrees {
    animation-delay: 250ms;
  }
  &--plats {
    animation-delay: 2700ms;
  }
  &--desserts {
    animation-delay: 5250ms;
  }
  &--entrees,
  &--plats,
  &--desserts {
    padding-top: 25px;
    opacity: 0;
    animation-name: menu_type;
    animation-duration: 1000ms;
    animation-fill-mode: forwards;
  }

  @keyframes menu_type {
    from {
      transform: scale(0);
      width: 100%;
    }

    to {
      opacity: 1;
      transform: scale(1);
      width: 100%;
    }
  }
}
.food_placement {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.entrance {
  &--one,
  &--two,
  &--tree,
  &--four {
    animation-duration: 1000ms;
    animation-name: entrance;
    animation-fill-mode: forwards;
    opacity: 0;
  }
  &--one {
    animation-delay: 625ms;
  }
  &--two {
    animation-delay: 1250ms;
  }
  &--tree {
    animation-delay: 1950ms;
  }
  &--four {
    animation-delay: 2500ms;
  }
}
@keyframes entrance {
  from {
    transform: scale(0);
    width: 100%;
  }

  to {
    opacity: 1;
    transform: scale(1);
    width: 100%;
  }
}

.dishes {
  &--one,
  &--two,
  &--tree,
  &--four {
    animation-duration: 1000ms;
    animation-name: dishes;
    animation-fill-mode: forwards;
    opacity: 0;
  }
  &--one {
    animation-delay: 3000ms;
  }
  &--two {
    animation-delay: 3650ms;
  }
  &--tree {
    animation-delay: 4300ms;
  }
  &--four {
    animation-delay: 4950ms;
  }
}
@keyframes dishes {
  from {
    transform: scale(0);
    width: 100%;
  }

  to {
    opacity: 1;
    transform: scale(1);
    width: 100%;
  }
}

.desserts {
  &--one,
  &--two,
  &--tree,
  &--four {
    animation-duration: 1000ms;
    animation-name: desserts;
    animation-fill-mode: forwards;
    opacity: 0;
  }
  &--one {
    animation-delay: 5550ms;
  }
  &--two {
    animation-delay: 6200ms;
  }
  &--tree {
    animation-delay: 6850ms;
  }
  &--four {
    animation-delay: 7500ms;
  }
}
@keyframes desserts {
  from {
    transform: scale(0);
    width: 100%;
  }

  to {
    opacity: 1;
    transform: scale(1);
    width: 100%;
  }
}
