.resto {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $backgroundcolor;
}
.resto_card {
  padding-bottom: 40px;
  &--part_one,
  &--part_two {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding-bottom: 20px;
  }
  .card {
    flex-direction: column;
    width: 340px;
    height: 251px;
    background-color: $whitecard;
    img {
      width: 100%;
      height: 174px;
      border-radius: 20px 20px 0px 0px;
    }
  }
}
.new_section {
  height: 174px;
  position: relative;
}
.new_txt {
  display: flex;
  justify-content: center;
  padding: 5px;
  position: absolute;
  right: 10px;
  top: 10px;
  background-color: $newbackground;
  color: $newtextcolor;
  width: 70px;
  animation-name: loader_icon;
  animation-duration: 4140ms;
}

.resto_content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}
.card_title {
  padding-bottom: 10px;
}
.heart {
  position: inherit;
}
