@media (min-width: 576px) {
  .menu_card {
    margin: -40px 0px 0px 0px;
  }
}
.food_placement {
  width: 100%;
}

@media (min-width: 768px) {
  /**  **/
  h2 {
    padding: 15px 15px 15px 0px;
  }
  .index_title {
    max-width: 1040px;
    width: 100%;
  }
  /**HEADER**/
  header {
    height: 96px;

    img {
      width: 200px;
    }
  }

  .img_background {
    height: 383px;
  }
  /**LOCATION**/

  /**EXPLORE**/

  /**FONCTION**/
  .fonction {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 228px;
  }
  /**HELP**/
  .help {
    flex-direction: row;
    justify-content: center;
    padding: 20px;
    width: 95%;
  }
  /**RESTO**/
  .resto {
    align-items: center;
  }
  .resto_card {
    &--part_one,
    &--part_two {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      gap: 50px;
    }
    .card {
      width: 490px;
    }
  }
  .new_txt {
    left: 390px;
  }
  .price {
    padding-left: 150px;
  }
  /**MENU**/
  .centrage {
    display: flex;
    justify-content: center;
  }
  .menu {
    width: 634px;
  }
  .menu_title {
    justify-content: center;
    gap: 20px;
    width: 100%;
  }
  .menu_card {
    width: 1055px;
  }

  .food_choice {
    width: 634px;
    display: block;
  }
  .food_placement {
    width: 634px;
  }

  /**FOOTER**/
  footer {
    display: flex;
    flex-direction: row-reverse;
    height: 114px;
    .footer_info {
      flex-direction: row;
      align-items: flex-end;
      gap: 15px;
      padding: 0px 50px 25px 25px;
    }
    .footer_title {
      display: flex;
      align-items: flex-end;
      padding-bottom: 20px;
    }
  }
}
